p {
  text-align: center;
  display: block;
  font-size: 20px;
}

.button {
  display: block;
}

.lista {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 600px;
  border: 2px solid black;
  overflow: auto;
  border-radius: 12px;
  -webkit-box-shadow: 2px 12px 29px -11px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 2px 12px 29px -11px rgba(0, 0, 0, 0.34);
  box-shadow: 2px 12px 29px -11px rgba(0, 0, 0, 0.34);
}

.heading {
  color: black;
  text-align: center;
  text-shadow: 4px 4px 8px rgb(26, 25, 25);
}

.naslov {
  color: red;
  text-align: center;
  text-shadow: 3px 3px 8px rgb(48, 45, 45);
}

.input-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.text-area {
  margin-right: 10px;
  height: 25px;
  -webkit-box-shadow: 2px 12px 29px -11px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 2px 12px 29px -11px rgba(0, 0, 0, 0.34);
  box-shadow: 2px 12px 29px -11px rgba(0, 0, 0, 0.34);
}

.button {
  border: none;
  background-color: rgb(144, 235, 204);
  width: 120px;
  height: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 8px rgb(26, 25, 25);
  -webkit-box-shadow: 2px 12px 29px -11px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 2px 12px 29px -11px rgba(0, 0, 0, 0.34);
  box-shadow: 2px 12px 29px -11px rgba(0, 0, 0, 0.34);
  font-size: 16px;
}

.button:hover {
  background-color: rgb(119, 201, 174);
  text-shadow: none;
  box-shadow: none;
  cursor: pointer;
}
